    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav" style="background: rgb(25,25,25);" data-bs-theme="dark">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #ffffff;">Dawn of light</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">DOL</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="about.html">About</a><a class="dropdown-item" href="whatis.html">What is DOL</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="docs/">Docs</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#ecosystem">game ecosystem</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#ressources">ressources</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
