    <nav class="navbar navbar-expand-md fixed-top navbar-light" id="mainNav" style="background: rgb(25,25,25);" data-bs-theme="dark">
        <div class="container-fluid"><a class="navbar-brand" href="index.html" style="color: #ffffff;">CAMELOT INSIDER</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">About</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="about.html">About</a><a class="dropdown-item" href="powered.html">Powered by</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">GAME&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="freeshards.html">Existing Freeshards</a><a class="dropdown-item" href="https://camelotinsider.wordpress.com/category/gameplay/">Gameplay category</a><a class="dropdown-item" href="https://camelotinsider.wordpress.com/category/game-setup/">Game setup category</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">PERSONAL SERVER</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#ecosystem">Ecosystem</a><a class="dropdown-item" href="server.html">Server customization</a><a class="dropdown-item" href="client.html">Client customization</a><a class="dropdown-item" href="#testingserver">Testing server</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">GAME LIBRARY</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="zones_library.html">Zones structures</a><a class="dropdown-item" href="monsters_library.html">Monsters</a><a class="dropdown-item" href="items_library.html">Items</a><a class="dropdown-item" href="https://camelotinsider.wordpress.com/2022/05/09/zone-settings/">Zone settings</a><a class="dropdown-item" href="https://camelotinsider.wordpress.com/2022/05/22/dungeon-settings/">Dungeon settings</a></div>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#ressources">ressources</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>